<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automação Manual - Múltiplos Testes</title>
  <link rel="stylesheet" href="/static/css/style_multi.css">
  <link rel="stylesheet" href="/static/css/whats_manual.css">
  <link rel="stylesheet" href="/static/css/utils_dialog.css">
  <script src="/static/js/script_base_qa.js"></script>
  <script src="/static/js/script_manual_qa.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/static/js/utils_dialog.js"></script>
  <script>
    // Inicializa o comportamento para todos os botões com a classe .utilsdlg-btn
    document.addEventListener('DOMContentLoaded', () => {
      window.UtilsDialog.attach(); // por padrão usa o seletor ".utilsdlg-btn"
    });
  </script>
</head>
<body>
  <h1>🧪 Criar Testes Manualmente</h1>

  <div class="input-container">
    <label style="margin-top: 15px;">📱 Selecione os Números:</label>
    <div class="numeros-container">
      {% for numero in numeros_disponiveis %}
        <div class="checkbox-numero">
          <input type="checkbox" name="numeros" value="{{ numero }}" id="numero_{{ loop.index }}">
          <label for="numero_{{ loop.index }}">{{ numero }}</label>
        </div>
      {% endfor %}
    </div>

  <label style="margin-top: 20px;">📎 Campos Adicionais (máx. 7):</label>
  <div id="extras-container" class="extras-container"></div>

  <button type="button" class="botao-enviar" onclick="adicionarCampoExtra()">➕ Adicionar Campo</button>

  <button type="button"
        class="botao-enviar utilsdlg-btn"
        data-utils-title="Utilidades">
  🔧 Utilidades
  </button>

  <button onclick="criarTestesManuais()" class="botao-enviar">Iniciar Testes</button>
  </div>

  <h2>📡 Sessões WebSocket Ativas:</h2>
  <div id="testesContainer" class="container"></div>
</body>
</html>
