<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automação de Testes - Múltiplos Arquivos</title>
    <script src="/static/js/script_multi.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/static/css/style_multi.css">
</head>
<body>
    <h1>Automação de Testes - Múltiplos Arquivos</h1>

    <div class="input-container">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" placeholder="Digite seu nome" required>

        <label for="telefone">Telefone Base:</label>
        <input type="text" id="telefone" placeholder="55DDD9XXXXXXXX" required>
    </div>

    <input type="file" id="arquivoExcel" accept=".xlsx">
    <button onclick="carregarTestes()" class="botao-enviar">📥 Carregar Testes</button>

    <h2>Testes Carregados:</h2>
    <div id="testesContainer" class="container"></div>
</body>
</html>
